doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='//cdn.datatables.net/1.10.15/css/jquery.dataTables.css')
	body
		block content
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
		script(src="https://code.jquery.com/jquery-1.12.4.js")
		script(src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js")
		script(src="https://cdn.datatables.net/plug-ins/1.10.15/api/row().show().js")
		block script